@import "tailwindcss";

@theme {
  --font-sans: var(--font-rethink-sans), ui-sans-serif, system-ui, sans-serif;
  --font-serif: var(--font-playfair-display), ui-serif, Georgia, serif;
  
  --color-primary: #8B9271;
  --color-secondary: #FFF3A3;
  --color-tertiary: #FFFFFF;
  --color-quaternary: #181818;
  --color-content: #4E4E4E;
  
  --color-primary-hover: #767c5e;
  --color-secondary-hover: #f3e68c;
  --color-warm-beige: #F5F3F0;
  --color-dark-green: #2C4128;
  
  --color-logo-blue: #2f2387;
  --color-logo-red: #eb0248;
}

body {
  font-family: var(--font-sans);
  background-color: var(--color-tertiary);
  color: var(--color-content);
  overflow-x: hidden;
}

/* Custom transitions and scroll behaviors */
html {
  scroll-behavior: smooth;
}

.custom-transition {
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

